# ------------- general options ----------------------------------------
save_path = "/home/liujing/NFS/TPAMI_channel_pruning/auxnet/test/" # log path
data_path = "/home/liujing/Dataset/" # path for dataset folder, containing cifar10 and imagenet
dataset = "cifar10"  # options: imagenet | cifar10
seed = 1  # manually set RNG seed
gpu = "5"  # GPU id to use, e.g. "0,1,2,3"
print_frequency = 10

# ------------- data options -------------------------------------------
n_threads = 4  # number of threads used for data loading
n_classes = 10  # number of classes in the dataset

# ------------- discrimination-aware options ---------------------------
n_losses = 3  # number of additional losses

# ------------- common optimization options ---------------------------
batch_size = 128  # mini-batch size
momentum = 0.9  # momentum
weight_decay = 1e-4  # weight decay
lr = 0.1  # initial learning rate
n_epochs = 100  # number of total epochs
step = [40, 60]  # multi-step for linear learning rate

# ------------- model options ------------------------------------------
net_type = "preresnet"  # options: resnet | preresnet
experiment_id = "20190510"  # experiment identifier
depth = 56  # resnet depth: (n-2)%6==0

# ------------- resume or retrain options ------------------------------
pretrained = "/home/liujing/NFS/TPAMI_channel_pruning/baseline/cifar10_resnet56/log_PreResNet56_cifar10_bs128_lr0.100_epoch400_baseline_110503_repeat/check_point/best_model.pth"  # path of the pre-trained model
resume = "" # resume checkpoint